<?xml version='1.0' encoding='utf-8' ?>
<plugin id="tw.com.bais.filepicker" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>filepicker</name>
	<description></description>
	<js-module name="filepicker" src="www/filepicker.js">
		<clobbers target="filepicker" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="filepicker">
				<param name="android-package" value="com.bais.filepicker.filepicker" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.bais.filepicker.filepicker" />
        </config-file>

		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
		</config-file>

		<source-file src="src/android/filepicker.java" target-dir="src/com/bais/filepicker/" />
		<source-file src="libs/universal-image-loader-1.9.0.jar" target-dir="libs/" />
		<source-file src="res/drawable/button_bg.xml" target-dir="res/drawable"/>
		<source-file src="res/drawable/check_icon.png" target-dir="res/drawable"/>
		<source-file src="res/drawable/no_media.png" target-dir="res/drawable"/>
		<source-file src="res/drawable/tick_mark_bg.xml" target-dir="res/drawable"/>
		<source-file src="res/drawable/trasnparent_bg.png" target-dir="res/drawable"/>
		<source-file src="res/drawable-hdpi/button_default.9.png" target-dir="res/drawable-hdpi"/>
		<source-file src="res/drawable-hdpi/button_hover.9.png" target-dir="res/drawable-hdpi"/>
		<source-file src="res/drawable-hdpi/check_icon.png" target-dir="res/drawable-hdpi"/>
		<source-file src="res/drawable-hdpi/top_bar.png" target-dir="res/drawable-hdpi"/>
		<source-file src="res/drawable-mdpi/button_default.9.png" target-dir="res/drawable-mdpi"/>
		<source-file src="res/drawable-mdpi/button_hover.9.png" target-dir="res/drawable-mdpi"/>
		<source-file src="res/drawable-mdpi/check_icon.png" target-dir="res/drawable-mdpi"/>
		<source-file src="res/drawable-mdpi/top_bar.png" target-dir="res/drawable-mdpi"/>
		<source-file src="res/drawable-xhdpi/button_default.9.png" target-dir="res/drawable-xhdpi"/>
		<source-file src="res/drawable-xhdpi/button_hover.9.png" target-dir="res/drawable-xhdpi"/>
		<source-file src="res/drawable-xhdpi/check_icon.png" target-dir="res/drawable-xhdpi"/>
		<source-file src="res/drawable-xhdpi/top_bar.png" target-dir="res/drawable-xhdpi"/>
		<source-file src="res/layout/chooespicture_gallery.xml" target-dir="res/layout"/>
		<source-file src="res/layout/chooespicture_gallery_item.xml" target-dir="res/layout"/>
		<source-file src="res/layout/chooespicture_titlebar.xml" target-dir="res/layout"/>
		<source-file src="res/values-mdpi/colors.xml" target-dir="res/values"/>
		<source-file src="res/values-mdpi/dimen.xml" target-dir="res/values"/>
	</platform>
</plugin>
