<?xml version='1.0' encoding='utf-8' ?>
<plugin id="tw.com.bais.filepicker" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>filepicker</name>
	<description></description>
	<js-module name="filepicker" src="www/filepicker.js">
		<clobbers target="filepicker" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="filepicker">
				<param name="android-package" value="com.bais.filepicker.filemain" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.bais.filepicker.filemain" />
        </config-file>

		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
		</config-file>

		<source-file src="src/android/filemain.java" target-dir="com/bais/filepicker" />
	</platform>
</plugin>
